src/main/mule/cloudehub.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="afc672df-ed33-4389-9ed6-15b632097fd6" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="cloudehubFlow" doc:id="6b6c5ec3-fc08-40eb-8212-890634d0884f" >
		<http:listener doc:name="Listener" doc:id="bb7be697-171f-402e-861a-7ac6d799a094" config-ref="HTTP_Listener_config" path="cloude"/>
		<set-payload value='#["hello batch 32"]' doc:name="Set Payload" doc:id="61e21473-1ef7-4de3-a5b3-133301bfe155" />
	</flow>
</mule>
